# Python cache and compiled files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# PyCharm project files
.idea/

# macOS system files
.DS_Store

# Ignore tree.py script
tree.py

# Ignore all contents in assets folder
assets/

# PyCharm project files
.idea/